html,
body,
#root,
.App {
  background-color: rgb(238, 248, 243);
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  background-color: rgb(238, 248, 243);
  background-image: ;
  width: 100%;
  max-width: 100%;
  margin: auto;
}

.list {
  background-color: rgb(238, 248, 243);
  width: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.list section {
  background-color: rgb(10, 10, 10);
  color: azure;
  width: auto;
  text-decoration: none;
  border-style: ridge;
  margin-bottom: 20px;
}

a:link {
  text-decoration: none;
}

.list h3 {
  color: rgb(192, 174, 101);
}

.detail {
  background-color: rgb(97, 105, 101);
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(238, 248, 243);
  border-radius: 20px;
}

.detail img {
  border-radius: 20px;
}

.header h1 {
  font-size: 60px;
  font-weight: 600;
  background-image: linear-gradient(to top, #121213, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.back {
  background-color: #140b1c;
  margin-top: 40px;
  color: rgb(224, 229, 232);
}
